:root {
  --primer-color: rgb(187, 153, 157, 0.5);
  --segundo-color: rgb(102, 99, 99);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100vw;
}

.header {
  padding: 1rem;
  line-height: 2rem;
  font-family: 'Bad Script', cursive;
  padding-top: 2rem;
  background-color: var(--primer-color);
}

.nav h1 {
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.nav h2 {
  font-size: 1.7rem;
  text-align: center;
  padding-top: 0.8rem;
  color: var(--segundo-color);
}

.miCarrito {
  position: absolute;
  right: 0;
  top: 25px;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--primer-color);
}

.miCarrito a {
  color: #fff;
  font-size: 1.4rem;
  font-style: bold;
}

.miCarrito a:hover {
  color: var(--segundo-color);
}

.fas {
  margin-left: 0.5rem;
  font-size: 1.4rem;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: transparent;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content #productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  justify-items: center;
  margin: 2rem 1rem;
}

.producto {
  padding: 1rem 3rem;
  line-height: 1.8rem;
  text-align: center;
}

.producto:hover {
  box-shadow: 0 8px 16px 0 var(--segundo-color);
}

.producto h3 {
  color: var(--segundo-color);
  font-size: 1.2rem;
}

.producto p {
  font-size: 1.2rem;
}

.imagen {
  width: 200px;
}

.btn {
  border-radius: 10px;
  height: 25px;
  width: 120px;
  background: #fff;
  color: var(--segundo-color);
  border-color: black;
  text-align: center;
  margin: 0.5rem 0;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: var(--primer-color);
}

.f-style {
  color: var(--segundo-color);
}

.redes {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}

.redes a {
  margin: 25px 0.8rem;
}

.redes a:last-child {
  margin-right: 2rem;
}

/* Carrito */
.carrito {
  font-family: 'Courier New', Courier, monospace;
  color: var(--segundo-color);
}

.carrito h1 {
  text-align: center;
  margin: 1.8rem;
  font-size: 2.5rem;
}

.carrito h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.container-carrito,
.container-productos {
  margin: 1.5rem;
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.name {
  grid-column: 2 / 4;
}
